body {
	font-family: Arial;
}

#game {
	width: 700px;
	max-width: 100%;
	margin: 0 auto;
	text-align: center;
}

#moveCounter {
	height: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 60;
}

#buttonPanel {
	margin: 15px auto;
}

button {
	font-size: 20;
}

#instructions {
	width: 600px;
	max-width: 100%;
	font-size: 20;
	margin: 40px auto;
}
