body {
	font-family: Arial;
}

#game {
	width: 700px;
	max-width: 100%;
	margin: 0 auto;
	text-align: center;
}

#moveCounter {
	height: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 60;
}

#buttonPanel {
	margin: 15px auto;
}

button {
	font-size: 20;
}

#settings {
	width: 600px;
	margin: 10px auto;
	display: flex;
}

#settingsLabels {
	text-align: right;
	margin-right: 10px;
}

#settingsInputs {
	text-align: left;
}

#settingsInputs input {
	width: 80%;
	vertical-align: middle;
}

#settingsLabels, #settingsInputs {
	flex-grow: 1;
	flex-basis: 0;
	flex-direction: column;
	line-height: 40px;
}

#instructions {
	width: 600px;
	max-width: 100%;
	font-size: 20;
	margin: 40px auto;
}
